body {
	margin-right: 10px;
	margin-left: 10px;
	width: 900px;
	min-width:900px;
	margin: 0 auto;
	background-color: darkgrey;
}

h1 {
	font-size: 50px;
	font-family: verdana
}

h2 {
	font-size: 25px;
	text-align: center;
	font-family: verdana
}

h3 {
	text-align: center;
	font-family: verdana
}

#top {
		background-color: darkgrey;
		padding: 1em;
		border-width: 5px;
		border-style: solid;
		border-color: orange;
		margin: 5px;
		text-align: center;
}

#myHeader {
		Background-color: orange;
		color: black;
		padding: 40px;
		text-align: center;
		border-top-left-radius: 1em 1em; /* rounded corner */
		border-top-right-radius: 1em 1em; /* rounded corner */
		border-bottom-left-radius: 1em 1em; /* rounded corner */
		border-bottom-right-radius: 1em 1em; /* rounded corner */
}

#main {
	Text-align; center;
	Color: orange;
}

.unit { 
		background-color: black;
		color: orange;
		padding: 10px;
}


li {
	font-size: 20px;
	text-align: center;
	list-style-type: none;
}

a {
	text-decoration: none;	/* no underline */
	text-align: center;
}


/* navigation menu styles */


nav ul {
	list-style-type: none;
	margin-bottom: 55px;
}

nav ul li {
	float: left;
	margin-right: 0.2em;
	margin-bottom: 50px;
}

nav ul li a {
	padding: 0.25em 0.85em;
	text-decoration: none; /* no underline */
	background-color: orange; /* orange */
	color: black; /* black */
	border: 2px solid black;
	border-top-left-radius: 1em 1em; /* rounded corner! */
	border-top-right-radius: 1em 1em; /* another rounded corner! */	
}

nav ul li a:hover, nav ul li a:focus{
	color: black; 
	background-color: white;
	font-weight: bold;
}
	

